{% extends 'core/base.html' %}

{% block title %}

ورود

{% endblock %}

{% block main %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    * <small class="text-danger">{{ error }}</small>
    {% endfor %}
    {% endif %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label }}
        {{ field }}
        {% if field.errors %}
        {% for error in field.errors %}
        * <small class="text-danger">{{ error }}</small>
        {% endfor %}
        {% endif %}
    </div>

    {% endfor %}

    <input type="submit" class="btn btn-primary" value="ورود  ">
</form>
{% endblock %}