{% extends 'core/base.html' %}

{% block title %}
فیسبوووم
{% endblock %}

{% block main %}

<div class="row mt-4">
    <div class="col-sm-8">
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item d-flex justify-content-between">
                <a class="link text-decoration-none" href="{% url 'post_detail' post_id=post.id %}">{{ post }} </a>
                <a class="link text-decoration-none" href="">{{ post.user }} </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<p>

    {% endblock %}