{% extends 'core/base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block main %}
<div class="row mt-4">
    <div class="col-sm-3"></div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                {% if post.user == request.user %}
                <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">حذف</a>
                <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">ویرایش</a>
                {% endif %}
                <form action="{% url 'post_score' post.id %}" class="form-inline" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <label class="form-label-inline col-sm-2" for="score">امتیاز: </label>
                        <input type="number" name="score" class="col-sm-4 form-control">
                        <input type="submit" value="ثبت" class="btn btn-danger col-sm-3">
                    </div>
                </form>
                <div class="card-footer mt-1 d-flex justify-content-between">
                    <small class="text-muted">{{ score }}</small>

                    <small class="text-muted">نویسنده: {{ post.user }} </small>
                    <small class="text-muted">تاریخ انتشار: {{ post.created_at }} </small>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}